<div ng-controller="returnCtrl as ctrl" class="content-area">
  <h4>Return Item</h4>  
  <form name="returnForm" class="form-horizontal" novalidate
        ng-submit="ctrl.returnItem(ctrl.barcode)">
    <div class="form-group">
      <div class="col-sm-4 col-md-4">
        <input id="returnBarcode" name="barcode" ng-model="ctrl.barcode"
               required only-digits maxlength="9"
               class="form-control" autofocus placeholder="barcode"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-md-4">
        <button type="submit" class="btn btn-primary" required
                ng-disabled="returnForm.$invalid || ctrl.barcode.length != 9">
          Return
        </button>
      </div>
    </div>
  </form>
  <div ng-show="ctrl.data.returnedItems.length">
    <h4>
      <span class="checked-out-item-count" ng-class="ctrl.itemCountClass">
        {{ctrl.data.returnedItems.length}}
      </span>
      <ng-pluralize count="ctrl.data.returnedItems.length"
        when="{'one': 'item returned', 'other': 'items returned'}">
      </ng-pluralize>
    </h4>
    <table class="table table-striped table-hover table-condensed"
           ng-show="ctrl.data.returnedItems.length">
      <thead>
        <tr>
          <th>Barcode</th>
          <th>ISBN</th>
          <th>Title</th>
          <th>Borrower Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in ctrl.data.returnedItems.slice().reverse()"
            ng-class="item === ctrl.data.returnedItem ? 'returned-item' : ''">
          <td>
            <a ng-href="#/item/{{item.barcode}}">
              {{item.barcode}}
            </a>
          </td>
          <td>
            <span ng-show="item.isbn13">{{item.isbn13}}</span>
            <span ng-show="!item.isbn13 && item.description == 'Buch'"
                  class="label label-danger">
              missing
            </span>
          </td>
          <td>{{item.title}}</td>
          <td>
            <a href="#/borrower/{{item.borrower.borrowernumber}}">
              {{borrowerLabel(item.borrower)}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
