<form name="itemSearchForm" ng-submit="ctrl.searchItems(ctrl.search, 0)">
  <div class="form-group col-sm-6 col-md-4">
    <button type="submit" class="btn btn-primary"
            ng-disabled="itemSearchForm.$invalid">
      Search
    </button>
    <button class="btn btn-primary" ng-click="ctrl.clearSearchForm($event)">
      Clear
    </button>
  </div>
  <span class="clearfix"></span>
  <div class="form-group col-sm-6 col-md-4">
    <label for="itemSearchState">State</label>
    <select id="itemSearchState" name="state" class="form-control"
            ng-model="ctrl.search.state"
            ng-options="type for type in ctrl.refdata.states">
    </select>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="itemSearchBarcode" class="control-label">Barcode</label>
    <input id="itemSearchBarcode" name="barcode" class="form-control"
           ng-model="ctrl.search.barcode"
           inputmode="numeric" only-digits maxlength="9" minlength="9"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="itemSearchAuthor" class="control-label">Author</label>
    <input id="itemSearchAuthor" name="author" class="form-control"
           ng-model="ctrl.search.author"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="itemSearchTitle" class="control-label">Title</label>
    <input id="itemSearchTitle" name="title" class="form-control"
           ng-model="ctrl.search.title"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="itemSearchSeriesTitle">Series Title</label>
    <input id="itemSearchSeriesTitle" class="form-control"
           ng-model="ctrl.search.seriestitle"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="itemSearchSubject">Subject</label>
    <select id="itemSearchSubject" class="form-control"
            ng-model="ctrl.search.subject"
            ng-options="type for type in ctrl.refdata.subjects">
    </select>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="itemSearchClassification">Classification</label>
    <input id="itemSearchClassification" class="form-control"
           ng-model="ctrl.search.classification"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="itemSearchAntolin">Antolin is Available</label>
    <div class="checkbox">
      <label>
        <input name="antolin" type="checkbox"
               ng-model="ctrl.search.antolin" />
        Yes
      </label>
    </div>
  </div>
</form>
<span class="clearfix"></span>
<div ng-show="ctrl.data.showItems">
  <h4>
    <ng-pluralize count="ctrl.data.pagination.count"
                  when="{'0': 'No matching item found',
                         'one': 'One matching item found',
                         'other': '{} matching items found'}">
    </ng-pluralize>
  </h4>
  <div ng-show="ctrl.data.items.length > 0">
    <div class="pull-right btn-group"
         ng-show="ctrl.data.pagination.pageCount > 1">
      <a class="btn btn-default"
         ng-show="ctrl.data.pagination.showFirst"
         ng-click="ctrl.searchItems(ctrl.search, 0)">&laquo;</a>
      <a ng-repeat="page in ctrl.data.pagination.pageRange"
         class="btn btn-default"
         ng-click="ctrl.searchItems(ctrl.search, page)"
         ng-class="ctrl.pageClass(page)">{{page + 1}}</a>
      <a class="btn btn-default"
         ng-show="ctrl.data.pagination.showLast"
         ng-click="ctrl.searchItems(ctrl.search, ctrl.data.pagination.pageCount - 1)">&raquo;</a>
    </div>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th><a ng-click="ctrl.setSortKey('barcode')">Barcode</a></th>
        <th><a ng-click="ctrl.setSortKey('state')">Status</a></th>
        <th><a ng-click="ctrl.setSortKey('title')">Title</a></th>
        <th><a ng-click="ctrl.setSortKey('author')">Author</a></th>
        <th>Category</th>
      </thead>
      <tbody>
        <tr ng-repeat="item in ctrl.data.items" class="clickable"
            ng-click="ctrl.selectItem(item)">
          <td>{{item.barcode}}</td>
          <td>
            <span class="label label-baseline label-danger"
                  ng-show="item.state != 'CIRCULATING'">
              Unavailable
            </span>
            <span class="label label-baseline label-warning"
                  ng-show="item.state == 'CIRCULATING' && item.checkout">
              Checked out
            </span>
            <span class="label label-baseline label-success"
                  ng-show="item.state == 'CIRCULATING' && !item.checkout">
              Available
            </span>
          </td>
          <td>
            {{item.title}}
            <span class="antolin-icon"
                  ng-show="item.antolin == true"></span>
          </td>
          <td>{{item.author}}</td>
          <td>{{item.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

