<div ng-controller="itemsCtrl as ctrl">
  <a href="#/item/new" class="btn btn-primary">
   New Item
  </a>
  <div class="panel-body">
    <tabset>
      <tab heading="By Barcode" active="ctrl.tabActive['barcode']">
        <div id="itemBarcodeSearchPanel" class="tab-panel">
          <form name="barcodeForm" class="form-horizontal" novalidate
              ng-submit="ctrl.selectItemByBarcode(ctrl.lookup.barcode)">
            <div class="form-group">
              <div class="col-sm-4 col-md-4">
                <input id="itemBarcode" name="barcode" ng-model="ctrl.lookup.barcode"
                       required only-digits maxlength="9"
                       class="form-control col-sm-4" autofocus placeholder="barcode"/>
               </div>
             </div>
             <div class="form-group">
               <div class="col-sm-4 col-md-4">
                 <button type="submit" class="btn btn-primary" required
                        ng-disabled="barcodeForm.$invalid || ctrl.lookup.barcode.length != 9">
                  Search
                 </button>
              </div>
            </div>
          </form>
        </div>
      </tab>
      <tab heading="By Title" active="ctrl.tabActive['title']">
        <div id="itemTitleSearchPanel" class="tab-panel">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-4 col-md-6">
                <input id="item-query" type="text" class="form-control" autofocus
                       ng-model="ctrl.data.itemTitle"
                       placeholder="part of item's title"
                       typeahead="item.title for item in ctrl.getItems($viewValue)"
                       typeahead-on-select="ctrl.selectItem($item)">
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Search Form" active="ctrl.tabActive['form']">
        <div id="itemSearchFormPanel" class="tab-panel"
             ng-include="'/item/items_search_form.html'"></div>
      </tab>
    </tabset>
  </div>
</div>
