<div ng-controller="itemCtrl as ctrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Item {{ctrl.item.barcode}}: {{ctrl.item.title}}</h3>
    </div>
    <form name="editItemForm" ng-submit="ctrl.saveItem(ctrl.item)"
          class="panel-body" novalidate>
      <div class="form-group col-sm-6 col-md-4">
        <label>State</label>
        <select class="form-control" ng-model="ctrl.item.state" ng-options="type for type in ctrl.refdata.states">
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Categories</label>
        <select class="form-control" ng-model="ctrl.item.description" ng-options="type for type in ctrl.refdata.types">
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Title</label>
        <input class="form-control" ng-model="ctrl.item.title"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Author</label>
        <input class="form-control" ng-model="ctrl.item.author" placeholder="last name, first name"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>ISBN13</label>
        <input class="form-control" ng-model="ctrl.item.isbn13"
               placeholder="13 digit ISBN"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>ISBN10</label>
        <input class="form-control" ng-model="ctrl.item.isbn10"
               placeholder="10 digit ISBN"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Publisher</label>
        <input class="form-control" ng-model="ctrl.item.publishercode"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Publication Year</label>
        <input class="form-control" ng-model="ctrl.item.publicationyear"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Subject</label>
        <select class="form-control" ng-model="ctrl.item.subject" ng-options="type for type in ctrl.refdata.subjects">
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Classification</label>
        <input class="form-control" ng-model="ctrl.item.classification"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Reading Age</label>
        <select class="form-control" ng-model="ctrl.item.age" ng-options="type for type in ctrl.refdata.ages">
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Serial</label>
        <input class="form-control" ng-model="ctrl.item.serial"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Series Title</label>
        <input class="form-control" ng-model="ctrl.item.seriestitle"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Media</label>
        <select class="form-control" ng-model="ctrl.item.media" ng-options="type for type in ctrl.refdata.media">
        </select>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label for="itemNotes">Notes</label>
        <input id="itemNotes" name="itemnotes" class="form-control" ng-model="ctrl.item.itemnotes"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Replacement Price</label>
        <input class="form-control" ng-model="ctrl.item.replacementprice"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Antolin Sticker</label>
        <div class="checkbox">
          <label>
            <input name="antolin_sticker" type="checkbox"
                   ng-model="ctrl.item.antolin_sticker" />
            Yes
          </label>
        </div>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label>Available in Antolin</label>
        <div class="checkbox">
          <label>
            <input name="antolin" type="checkbox"
                   ng-model="ctrl.item.antolin" />
            Yes
          </label>
        </div>
      </div>
      <span class="clearfix"></span>
      <div class="form-group col-sm-6 col-md-4">
        <button type="submit" class="btn btn-primary"
                ng-disabled="editItemForm.$invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
