<div>
  <form name="itemLabelsForm" class="panel-body"
        ng-submit="ctrl.printLabel(ctrl.item, ctrl.category)">

    <div class="form-group col-sm-6 col-md-4">
      <label>Label Categories</label>
      <select class="form-control" ng-model="ctrl.category"
              ng-change="ctrl.onCategoryChange(ctrl.item, ctrl.category)"
              ng-options="cat for cat in ctrl.categories">
      </select>
    </div>

    <span class="clearfix"></span>
    <div id="item-label-preview" class="item-label-preview col-sm-6 col-md-4"
         ng-if="ctrl.category">
      <img data-ng-src="data:image/png;base64,{{ctrl.previewImage}}" />
    </div>

    <span class="clearfix"></span>
    <div class="form-group col-sm-6 col-md-4">
      <button name="Preview" type="submit" class="btn btn-primary">
        Print
      </button>
    </div>

  </form>
</div>
