<div class="field-list" ng-show="ctrl.mode == 'view'">
  <div class="col-sm-6" ng-show="authorized('borrowers', 'update')">
    <button class="btn btn-primary" ng-click="ctrl.editBorrower()">Edit</button>
  </div>
  <span class="clearfix"></span>
  <div class="col-sm-6">
    <label>Borrower Number</label>
    <span>{{ctrl.data.borrower.borrowernumber}}</span>
  </div>
  <div class="col-sm-6">
    <label>Surname</label>
    <span>{{ctrl.data.borrower.surname}}</span>
  </div>
  <div class="col-sm-6">
    <label>First Name</label>
    <span>{{ctrl.data.borrower.firstname}}</span>
  </div>
  <div class="col-sm-6">
    <label>Contact Name</label>
    <span>{{ctrl.data.borrower.contactname}}</span>
  </div>
  <div class="col-sm-6">
    <label>Email Address</label>
    <span>{{ctrl.data.borrower.emailaddress}}</span>
  </div>
  <div class="col-sm-6">
    <label>State</label>
    <span>{{ctrl.data.borrower.state}}</span>
  </div>
</div>
<div ng-show="ctrl.mode == 'edit'">
  <form name="editBorrowerForm" ng-submit="ctrl.saveBorrower(ctrl.borrower)">
    <div class="form-group col-sm-6 col-md-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button ng-click="ctrl.cancelEdit()" class="btn">Cancel</button>
    </div>
    <span class="clearfix"></span>
    <div class="form-group col-sm-6 col-md-4">
      <label>Surname</label>
      <input class="form-control" ng-model="ctrl.borrower.surname"/>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label>First Name</label>
      <input class="form-control" ng-model="ctrl.borrower.firstname"/>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label>Contact Name</label>
      <input class="form-control" ng-model="ctrl.borrower.contactname"/>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label>Email Address</label>
      <input class="form-control" ng-model="ctrl.borrower.emailaddress"/>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label>State</label>
      <select class="form-control" ng-model="ctrl.borrower.state"
              ng-options="state for state in ctrl.refdata.states">
    </div>
  </form>
</div>
