<form name="borrowerSearchForm" ng-submit="ctrl.searchBorrowers(ctrl.search, 0)">
  <div class="form-group col-sm-6 col-md-4">
    <button type="submit" class="btn btn-primary"
            ng-disabled="borrowerSearchForm.$invalid">
      Search
    </button>
    <button class="btn btn-primary" ng-click="ctrl.clearSearchForm($event)">
      Clear
    </button>
  </div>
  <span class="clearfix"></span>
  <div class="form-group col-sm-6 col-md-4">
    <label for="borrowerSearchSurname" class="control-label">Surname</label>
    <input id="borrowerSearchSurname" name="surname" class="form-control"
           placeholder="(part of) borrower's last name"
           ng-model="ctrl.search.surname"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="borrowerSearchEmail" class="control-label">Email</label>
    <input id="borrowerSearchEmail" name="emailaddress" class="form-control"
           placeholder="(part of) email address"
           ng-model="ctrl.search.emailaddress"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="borrowerSearchFirstname" class="control-label">First Name</label>
    <input id="borrowerSearchFirstname" name="firstname" class="form-control"
           placeholder="(part of) student first name"
           ng-model="ctrl.search.firstname"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="borrowerSearchContact" class="control-label">Contact Name</label>
    <input id="borrowerSearchContact" name="contactname" class="form-control"
           placeholder="(part of) contact name"
           ng-model="ctrl.search.contactname"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label for="borrowerSearchState" class="control-label">Status</label>
    <select id="borrowerSearchState" name="state" class="form-control"
            ng-model="ctrl.search.state"
            ng-options="type for type in ctrl.refdata.states">
    </select>
  </div>
</form>
<span class="clearfix"></span>
<div ng-show="ctrl.data.showBorrowers">
  <h4>
    <ng-pluralize count="ctrl.data.pagination.count"
                  when="{'0': 'No matching borrower found',
                         'one': 'One matching borrower found',
                         'other': '{} matching borrowers found'}">
    </ng-pluralize>
  </h4>
  <div ng-show="ctrl.data.borrowers.length > 0">
    <div class="pull-right btn-group"
         ng-show="ctrl.data.pagination.pageCount > 1">
      <a class="btn btn-default"
         ng-show="ctrl.data.pagination.showFirst"
         ng-click="ctrl.searchBorrowers(ctrl.search, 0)">&laquo;</a>
      <a ng-repeat="page in ctrl.data.pagination.pageRange"
         class="btn btn-default"
         ng-click="ctrl.searchBorrowers(ctrl.search, page)"
         ng-class="ctrl.pageClass(page)">{{page + 1}}</a>
      <a class="btn btn-default"
         ng-show="ctrl.data.pagination.showLast"
         ng-click="ctrl.searchBorrowers(ctrl.search, ctrl.data.pagination.pageCount - 1)">&raquo;</a>
    </div>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th><a ng-click="ctrl.setSortKey('borrowernumber')">Number</a></th>
        <th><a ng-click="ctrl.setSortKey('surname')">Last Name</a></th>
        <th><a ng-click="ctrl.setSortKey('state')">Status</a></th>
        <th><a ng-click="ctrl.setSortKey('firstname')">First Name</a></th>
        <th><a ng-click="ctrl.setSortKey('emailaddress')">Email Address</a></th>
        <th><a ng-click="ctrl.setSortKey('contactname')">Contact Name</a></th>
      </thead>
      <tbody>
        <tr ng-repeat="borrower in ctrl.data.borrowers" class="clickable"
            ng-click="ctrl.selectBorrower(borrower)">
          <td>{{borrower.borrowernumber}}</td>
          <td>{{borrower.surname}}</td>
          <td>{{borrower.state}}</td>
          <td>{{borrower.firstname}}</td>
          <td>{{borrower.emailaddress}}</td>
          <td>{{borrower.contactname}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

