<h2>New Borrower</h2>
<div ng-controller="borrowerNewCtrl as ctrl">
  <form name="newBorrowerForm" ng-submit="ctrl.addBorrower(ctrl.borrower)" novalidate>
    <div class="form-group col-sm-6">
      <label for="newSurname">Surname</label>
      <input id="newSurname" name="surname" class="form-control" autofocus
             ng-model="ctrl.borrower.surname" required/>
      <div class="form-field-error"
           ng-show="newBorrowerForm.surname.$invalid && newBorrowerForm.surname.$dirty">
        <span ng-show="newBorrowerForm.surname.$error.required">
          Please enter a surname.
        </span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="newFirstName">First Names</label>
      <input id="newFirstName" name="firstname" class="form-control"
             ng-model="ctrl.borrower.firstname" required/>
      <div class="form-field-error"
           ng-show="newBorrowerForm.firstname.$invalid && newBorrowerForm.firstname.$dirty">
        <span ng-show="newBorrowerForm.firstname.$error.required">
          Please enter at least one first name.
        </span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="newContactName">Contact Name</label>
      <input id="newContextName" name="contactname" class="form-control"
             ng-model="ctrl.borrower.contactname" required/>
      <div class="form-field-error"
           ng-show="newBorrowerForm.contactname.$invalid && newBorrowerForm.contactname.$dirty">
        <span ng-show="newBorrowerForm.contactname.$error.required">
          Please enter the contact name.
        </span>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="newStreet">Street</label>
      <input id="newStreet" class="form-control"
             ng-model="ctrl.borrower.streetaddress"/>
    </div>
    <div class="form-group col-sm-6">
      <label for="newCity">City</label>
      <input id="newCity" class="form-control"
             ng-model="ctrl.borrower.city"/>
    </div>
    <div class="form-group col-sm-6">
      <label for="newPostalCode">Postal Code</label>
      <input id="newPostalCode" class="form-control" ng-model="ctrl.borrower.zipcode"/>
    </div>
    <div class="form-group col-sm-6">
      <label for="newPhone">Phone Number</label>
      <input id="newPhone" class="form-control" ng-model="ctrl.borrower.phone"/>
    </div>
    <div class="form-group col-sm-6">
      <label for="newEmail">Email Address</label>
      <input id="newEmail" class="form-control" ng-model="ctrl.borrower.emailaddress"/>
    </div>
    <div class="form-group col-sm-6">
      <label for="newState">State</label>
      <select id="newState"  class="form-control" ng-model="ctrl.borrower.state"
              ng-options="state for state in ctrl.refdata.states">
      </select>
    </div>
    <span class="clearfix"></span>
    <div class="form-group col-sm-6">
      <button type="submit" class="btn btn-primary"
              ng-disabled="newBorrowerForm.$invalid">
        Save
      </button>
    </div>
  </form>
</div>
