.antolin-icon {
    display: inline-block;
    position: relative;
    top: 0.1em;
    width: 1.5em;
    height: 1em;
    background: url(antolin.png);
    background-size: 1.5em 1em;
    background-repeat: no-repeat;
}
