<div class="containerX" fxLayoutGap="30px">
  <div fxFlex="" class="col3 form">
    <form [formGroup]="form" (ngSubmit)="submit()"
          (keydown.enter)="$event.preventDefault()">
      <div class="fields">
        <formly-form [model]="item" [fields]="fields" [form]="form">
        </formly-form>
      </div>
      <div class="form-actions">
        <button type="submit" mat-raised-button color="primary"
                [disabled]="form.invalid"
                *gslAuthorized="'items.update'">
          Save
        </button>
        <button mat-raised-button color="primary" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
  <div>
    <gsl-item-edit-cover [item]="item"></gsl-item-edit-cover>
  </div>
</div>

