node_modules
package-lock.json
tags
*.pyc
*.sql.gz
*~
.md5sums

backups/
python-ve/
python3-ve/
covers

config/*.json

labels/*.pdf

client2/dist
client2/dist-public
client2/.public.git-rev
client2/.volunteers.git-rev

provision/grains
