<mat-card>
  <gsl-item-search-form [criteria]="criteria" (search)="onSearch($event)">
  </gsl-item-search-form>
  <div *ngIf="result">
    <td-data-table *ngIf="result"
                   [data]="result.rows"
                   [columns]="columns"
                   [sortable]="true"
                   [sortBy]="sortKey.name"
                   [sortOrder]="sortKey.order"
                   (sortChange)="onSort($event)">
      <ng-template tdDataTableTemplate="barcode" let-value="value">
        <a [routerLink]="value">{{value}}</a>
      </ng-template>
      <ng-template tdDataTableTemplate="status" let-value="value">
        <gsl-item-status [status]="ItemState[value]" size="normal"></gsl-item-status>
      </ng-template>
      <ng-template tdDataTableTemplate="title" let-row="row" let-value="value">
        <a [routerLink]="row.barcode">{{value}}</a>
      </ng-template>
      <ng-template tdDataTableTemplate="author" let-row="row" let-value="value">
        <a routerLink="/items" [queryParams]="{author: value}">{{value}}</a>
      </ng-template>
    </td-data-table>
    <td-paging-bar #pagingBar (change)="onPage($event)"
                   [initialPage]="page"
                   [pageSize]="pageSize"
                   [total]="result.count">
      <span class="label" td-paging-bar-label hide-xs>Rows per page: </span>
      <span>Items {{pagingBar.range}}</span>
      <span hide-xs> of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>
</mat-card>

