span.label {
  margin-right: -5px;
}
a {
  text-decoration: none;
  color: inherit;
}
.no-search {
  display: none;
}
.mat-column-barcode {
  max-width: 100px;
}
.mat-column-status {
  max-width: 100px;
}
.mat-column-author {
  max-width: 150px;
}
.mat-column-subject {
  max-width: 150px;
}
.mat-column-category {
  max-width: 100px;
}
.add {
  margin-left: 15px;
}
