<mat-form-field floatPlaceholder="never" class="borrower-autocomplete" (keyup.enter)="selectFirstBorrower()">
  <input #borrowerInput matInput size="50" placeholder="Borrower Last Name"
         [formControl]="input"
         [matAutocomplete]="borrowerAutoComplete">
</mat-form-field>
<mat-autocomplete #borrowerAutoComplete="matAutocomplete"
                 [displayWith]="displayName">
  <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
    {{displayName(suggestion)}}
  </mat-option>
</mat-autocomplete>
