<mat-form-field floatPlaceholder="never" class="borrower-autocomplete">
  <input #borrowerInput matInput size="50" placeholder="Borrower name"
         [formControl]="input"
         [matAutocomplete]="borrowerAutoComplete">
</mat-form-field>
<mat-autocomplete #borrowerAutoComplete="matAutocomplete"
                 [displayWith]="displayName">
  <mat-option *ngFor="let suggestion of suggestions; let i = $index;"
             [value]="suggestion">
    {{displayName(suggestion)}}
  </mat-option>
</mat-autocomplete>
