.fields {
  column-count: 3;
}
td-paging-bar {
  margin-top: 10px;
}
span.label {
  margin-right: -5px;
}
a {
  text-decoration: none;
  color: inherit;
}
/deep/ tbody .td-data-table-row:hover {
  background-color: #eee;
}
/deep/ td-paging-bar>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
/deep/ td-paging-bar span {
  font-size: 13px;
}
