.fields {
  column-count: 3;
}
span.label {
  margin-right: -5px;
}
a {
  text-decoration: none;
  color: inherit;
}
.download {
  margin: 10px 0;
}
.container {
  margin-top: 10px;
}
.mat-column-barcode {
  max-width: 100px;
}
.mat-column-author {
  max-width: 140px;
}
.mat-column-category {
  max-width: 140px;
}
.mat-column-last_checkout_date {
  max-width: 100px;
}

