<mat-card>
  <p>Return item by scanning or entering barcode:</p>
  <gsl-barcode-field icon="check" (barcodeSubmit)="returnItem($event)" #barcode>
  </gsl-barcode-field>
  <h3>
    <a mat-mini-fab class="number-returned" color="accent"
            title="Clear list of returned items"
            (click)="resetItems()" [class.pulse]="returnedItem">
      <b>{{ returnedItems.length }}</b>
    </a>
    items returned
  </h3>
  <div *ngIf="returnedItems.length > 0">
    <mat-table #table [dataSource]="dataSource"
               matSort matSortActive="checkout_date" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="barcode">
        <mat-header-cell *matHeaderCellDef>Barcode</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a [routerLink]="['/items', row.barcode, 'details']">{{ row.barcode }}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a [routerLink]="['/items', row.barcode, 'details']">{{ row.title }}</a>
          <gsl-item-antolin [antolin]="row.antolin"></gsl-item-antolin>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.category}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="checkout_date">
        <mat-header-cell *matHeaderCellDef>Checkout Date</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.checkout.checkout_date | date:'MMM dd, yyyy, hh:mm'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="returndate">
        <mat-header-cell *matHeaderCellDef>Return Date</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.checkout.returndate | date:'MMM dd, yyyy, hh:mm'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="borrower">
        <mat-header-cell *matHeaderCellDef>Borrower</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a [routerLink]="['/borrowers', row.borrower.borrowernumber, 'checkouts']">
            {{row.borrower.surname}}
          </a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               [class.returned-item]="row === returnedItem">
      </mat-row>
    </mat-table>
  </div>
</mat-card>

