<mat-card>
  <gsl-barcode-field icon="check" (barcodeSubmit)="returnItem($event)" #barcode>
  </gsl-barcode-field>
  <h3>
    <button mat-fab class="number-returned" color="accent"
            title="Clear list of returned items"
            (click)="resetItems()" [ngClass]="itemCountClass">
      <b>{{ returnedItems.length }}</b>
    </button>
    items returned
  </h3>
  <td-data-table [data]="returnedItems"
                 [columns]="columns">
    <ng-template tdDataTableTemplate="barcode" let-row="row" let-value="value">
      <a [routerLink]="['items', row.barcode, 'details']">
        {{ value }}
      </a>
    </ng-template>
    <ng-template tdDataTableTemplate="title" let-row="row" let-value="value">
      <a [routerLink]="['items', row.barcode, 'details']">
        {{ value }}
      </a>
    </ng-template>
  </td-data-table>
</mat-card>

