<form #f="ngForm" (ngSubmit)="onSubmit(criteria)">
  <div class="search-fields" fxFlex="">
    <formly-form [model]="criteria" [fields]="fields" [form]="form"
                 [ngClass]="'width'+fields.length">
    </formly-form>
  </div>
  <span class="actions">
    <button mat-mini-fab (click)="onReset()" title="Reset search from">
      <mat-icon>close</mat-icon>
    </button>
    <button type="submit" mat-mini-fab title="Search">
      <mat-icon>search</mat-icon>
    </button>
  </span>
</form>
