<div class="checkout">
  <div *ngIf="borrower">
    <div>
      <gsl-barcode-field icon="add" #barcode [focus]="true" class="barcode"
                         (barcodeSubmit)="checkout($event)"></gsl-barcode-field>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="renewAll()">Renew All</button>
      </div>
    </div>
    <div *ngIf="borrower.items.length == 0">
      No items checked out.
    </div>
    <div *ngIf="borrower.items.length > 0">
      <h3>
        <a mat-fab class="number-checked-out" color="accent" [ngClass]="itemCountClass">
          <b>{{ borrower.items.length }}</b>
        </a>
        <span [ngPlural]="borrower.items.length">
          <ng-template ngPluralCase="=1">item</ng-template>
          <ng-template ngPluralCase="other">items</ng-template>
        </span>
        checked out:
      </h3>
      <gsl-borrower-checkouts-table [checkouts]="borrower.items"></gsl-borrower-checkouts-table>
    </div>
  </div>
</div>
