<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="http://gssb.org/">
    <img class="gssb-logo" src="assets/images/gssb_logo_transparent_small.png">
  </a>
  <span class="flex"></span>
  <div *ngIf="user" class="profile-info">
    <span class="welcome">
      Welcome {{ user['surname'] }} family!
    </span>
    <a mat-raised-button (click)="logout()">Logout</a>
  </div>
  <div *ngIf="!user" class="profile-info">
    <a mat-raised-button routerLink="/login">Login</a>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="menu">
    <mat-nav-list>
      <a mat-list-item routerLink="/items" accesskey="i" routerLinkActive="active">
        <mat-icon>search</mat-icon>
        Catalog
      </a>
      <a mat-list-item routerLink="/checkedout" accesskey="c" routerLinkActive="active">
        <mat-icon>library_books</mat-icon>
        <span class="accesskey">C</span>hecked Out
      </a>
      <a mat-list-item routerLink="/order" accesskey="c" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>
        <span class="accesskey">O</span>rder
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

