<div>
  <mat-table #table [dataSource]="dataSource"
             matSort matSortActive="checkout_date" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="barcode">
      <mat-header-cell *matHeaderCellDef>Barcode</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.barcode }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="checkout_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Checkout Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.checkout_date | date:'MMM dd, yyyy, hh:mm'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="returndate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Return Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.returndate | date:'MMM dd, yyyy, hh:mm'}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             style="cursor: pointer"
             [routerLink]="['/items', row.barcode, 'details']"></mat-row>
  </mat-table>
  <mat-paginator [length]="resultsLength" [pageSize]="10">
  </mat-paginator>
</div>
