.navbar {
  margin-top: 0.3em;
  padding-top: 0.3em;
}
.navbar-brand {
  padding: 10px 15px 13px 15px;
}
.nav-pills {
  font-size: 16px;
}
.nav-pills a {
  width: 7em;
  text-align: center;
}
ul.nav-tabs li {
  cursor: pointer;
}
.main-content {
}
.items {
  margin-top: 2em;
}
.accesskey {
  text-decoration: underline;
}
.gssb-left-gap {
  margin-left: 2em;
}
.fee {
  margin-left: 5px;
  vertical-align: buttom;
  font-size: 120%;
}
.content-area {
}
.message-area {
  position: absolute;
  width: 50%;
  top: 3em;
  left: 25%;
}
.field-list {
}
.field-list label {
  width: 10em;
  text-align: right;
  margin-right: 0.5em;
}
.fade {
  transition: 0.1s linear all;
  opacity: 1;
}
.fade.ng-hide {
  transition: 0.3s linear all;
  opacity: 0;
}
.slideUp {
  transition: 0.1s linear all;
  height: 3em;
}
.slideUp.ng-hide {
  transition: 0.3s linear all;
  height: 0em;
}
.dashboard-buttons {
  border-spacing: 1em;
}
.dashboard-button {
  white-space: normal;
  font-size: 150%;
  margin: 0.2em;
  width: 7em;
  height: 5em;
}
tr.clickable > td, td.clickable, th.clickable {
  cursor: pointer;
}
.action-row {
  margin-bottom: 0.5em;
}
.checked-out {
  color: red;
}
.available {
  color: green;
}
.unavailable {
  color: red;
}
.login-info {
  padding: 0px 1em;
}
.jumbotron {
  padding: 1em;
}
.tab-panel {
  padding-top: 1em;
}
form .ng-invalid.ng-dirty {
  background-color: #fee;
}
form .ng-valid.ng-dirty {
  background-color: #efe;
}
.form-field-error {
  color: red;
}
.form-control.date {
  width: 12em;
}
.checked-out-item-count {
  display: inline-block;
  line-height: 30px;
  width: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: #428bca;
  color: #fff;
}
@keyframes pulse {
  50% {
    transform: scale(1.3);
  }
}
@-moz-keyframes pulse {
  50% {
    -moz-transform: scale(1.3);
  }
}
@-webkit-keyframes pulse {
  50% {
    -webkit-transform: scale(1.3);
  }
}
.pulse {
  animation-duration: 0.5s;
  animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: pulse;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: pulse;
}
.renew-all-button {
  margin-left: 1em;
}
tr.returned-item td {
  background-color: #7f7 !important;
}
.item-history-length {
  font-weight: bold;
  font-size: 120%;
}
.button-row {
  padding: 1em 1em 0 1em;
}
.button-row .btn {
  padding: 10px 5px
}
.antolin-icon-header {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 35px;
    height: 25px;
    background: url(antolin.png);
    background-size: 35px 25px;
    background-repeat: no-repeat;
}
.antolin-icon {
    display: inline-block;
    position: relative;
    top: 0.1em;
    width: 1.5em;
    height: 1em;
    background: url(antolin.png);
    background-size: 1.5em 1em;
    background-repeat: no-repeat;
}

.label-baseline {
    padding-bottom: 0.2em;
}
