<!DOCTYPE html>
<html ng-app="library">
<head>
  <title>GSSB Library</title>
  <!--
    For ease of testing, temporarily set 'user-scalable=0' to prevent chrome
    on mobile from scaling the page when focussing on an input field.
    -->
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=0">
  <link href="vendor/bootstrap/bootstrap.css" rel="stylesheet"/>
  <link href="vendor/angular-dialog-service/dialogs.min.css" rel="stylesheet"/>
  <link href="app.css" rel="stylesheet"/>
  <script src="vendor/api-check/api-check.js"></script>
  <script src="vendor/jquery/jquery.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-route/angular-route.js"></script>
  <script src="vendor/angular-animate/angular-animate.js"></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
  <script src="vendor/angular-dialog-service/dialogs.min.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
  <script src="vendor/angular-formly/formly.js"></script>
  <script src="vendor/angular-formly-templates-bootstrap/angular-formly-templates-bootstrap.js"></script>
  <script src="vendor/ng-csv/ng-csv.min.js"></script>
  <script src="auth/auth.js"></script>
  <script src="app.js"></script>
  <script src="components/util.js"></script>
  <script src="components/directives.js"></script>
  <script src="components/filters.js"></script>
  <script src="library/library.js"></script>
  <script src="library/library_ctrl.js"></script>
  <script src="admin/isbn_scan.js"></script>
  <script src="borrower/borrowers.js"></script>
  <script src="borrower/borrower_history.js"></script>
  <script src="borrower/borrower_fees.js"></script>
  <script src="borrower/borrower_new.js"></script>
  <script src="borrower/borrower_profile.js"></script>
  <script src="borrower/borrower.js"></script>
  <script src="item/item.js"></script>
  <script src="item/item_history.js"></script>
  <script src="item/item_labels.js"></script>
  <script src="item/item_new_isbn.js"></script>
  <script src="item/items.js"></script>
  <script src="fee/fees.js"></script>
  <script src="login/login_popup.js"></script>
  <script src="return/returns.js"></script>
  <script src="dashboard/dashboard.js"></script>
  <script src="report/report.js"></script>
</head>
<body ng-controller="libraryCtrl as appCtrl">
  <div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <a href="#/dashboard" class="navbar-brand">GSSB Library</a>
      <div class="navbar-header">
        <ul class="nav nav-pills">
          <li role="presentation" ng-class="appCtrl.navClass('returns')"
              ng-show="authorized('items', 'checkin')">
            <a href="#/returns" accesskey="r">
              <span class="accesskey">R</span>eturn
            </a>
          </li>
          <li role="presentation" ng-class="appCtrl.navClass('borrowers')"
              class="dropdown"
              ng-show="authorized('borrowers', 'read')">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="accesskey">B</span>orrowers<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#/borrowers" role="button" accesskey="b">
                  Search
                </a>
              </li>
              <li>
                <a href="#/borrower/new" role="button"
                   ng-show="authorized('borrowers', 'create')">
                  New
                </a>
              </li>
            </ul>
          </li>
          <li role="presentation" ng-class="appCtrl.navClass('items')"
              class="dropdown"
              ng-show="authorized('items', 'read')">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="accesskey">I</span>tems<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#/items" role="button" accesskey="i">
                  Search
                </a>
              </li>
              <li>
                <a href="#/item/new" role="button"
                   ng-show="authorized('items', 'create')">
                  New
                </a>
              </li>
              <li>
                <a href="#/item/new/isbn" role="button"
                   ng-show="authorized('items', 'create')">
                  New by ISBN
                </a>
              </li>
            </ul>
          </li>
          <li class="presentation" ng-class="appCtrl.navClass('fees')"
              ng-show="authorized('checkouts', 'update')">
            <a href="#/fees" accesskey="f">
              <span class="accesskey">F</span>ees
            </a>
          </li>
          <li class="presentation" ng-class="appCtrl.navClass('reports')"
              ng-show="authorized('checkouts', 'update')">
            <a href="#/reports" accesskey="o">
              Rep<span class="accesskey">o</span>rts
            </a>
          </li>
          <li class="presentation" ng-class="appCtrl.navClass('admin')"
              ng-show="authorized('items', 'update')">
            <a href="#/admin/isbn_scan" accesskey="s">
              ISBN <span class="accesskey">S</span>can
            </a>
          </li>
        </ul>
      </div>
      <div class="login-info">
        <p class="navbar-text navbar-right" ng-show="appCtrl.getUser()">
          Signed in as {{appCtrl.getUser().username}} -
          <a href="#" ng-click="appCtrl.logout()">
            log out
          </a>
        </p>
        <p class="navbar-text navbar-right" ng-hide="appCtrl.getUser()">
          <a href="#" ng-click="appCtrl.login()">
            Log in
          </a>
        </p>
      </div>
    </nav>
    <div class="main-content">
      <!--
      <div class="message-area">
        <div ng-hide="!appCtrl.showError" class="fade">
          <alert close="appCtrl.closeAlert()">
            {{appCtrl.errorMessage}}
          </alert>
        </div>
      </div>
      -->
      <ng-view/>
    </div>
  </div>
</body>
</html>
