<html>
  <body>
{% if test %}
This is a test - ignore.
<p>
{% endif %}
Dear {{borrower.surname}} Family,
<p>
This automated email is sent from an unmonitored email account. Please do
not reply. If you have any questions regarding your account, please bring
a copy of this e-mail to the library on Saturday so we can fix any errors
or send an email to {{config.reply_to}}.
<p>
{% if borrower.fine_due() > 0 %}
Our records show you currently owe fines of ${{'%.2f' % borrower.fine_due()}}.
<p>
{% endif %}
Our records indicate you have the following {{borrower.loans|length}} item{{borrower.loans|length|pluralize}} checked out:
<p>
{% for loan in borrower.loans %}
<table>
  <tr><td style="padding: 0px 1em">Title</td><td>{{loan.title}}</td></tr>
  <tr><td style="padding: 0px 1em">Item Type</td><td>{{loan.description}}</td></tr>
  <tr><td style="padding: 0px 1em">Author</td><td>{{loan.author}}</td></tr>
  <tr><td style="padding: 0px 1em">Barcode</td><td>{{loan.barcode}}</td></tr>
  <tr><td style="padding: 0px 1em">Due Date</td><td>{{loan.date_due.strftime('%d-%b-%Y')}}</td></tr>
{% if loan.fine_due > 0 %}
  <tr><td style="padding: 0px 1em">Item Fine</td><td>{{"$%.2f" % loan.fine_due}}</td></tr>
{% endif %}
</table>
<p>
{% endfor %}
<p>
Thank you for using the GSSB library.
</body>
</html>

