mat-chip {
  display: inline-block;
  padding: 4px;
  min-width: 6em;
  text-align: center;
  border-radius: .25em;
}

mat-chip.small {
  font-size: 75%;
}

mat-chip.normal {
  font-size: 100%;
}

mat-chip.available {
  background-color: #5cb85c;
}

mat-chip.checked_out {
  background-color: #f0ad4e;
}

mat-chip.ordered {
  background-color: #f0ad4e;
}
