mat-chip {
  display: inline-block;
  padding: 3px;
  font-size: 75%;
  font-weight: bold;
  min-width: 6em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: 12.5%;
  border-radius: .25em;
  background: #888;
}

mat-chip.small {
  font-size: 75%;
}

mat-chip.normal {
  font-size: 100%;
}

mat-chip.available {
  background-color: #5cb85c;
}

mat-chip.checked_out {
  background-color: #f0ad4e;
}

mat-chip.ordered {
  background-color: #f0ad4e;
}
