/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme' as datetimepicker;


@include mat.core();


$gssb-theme-primary: mat.define-palette(mat.$blue-palette);
$gssb-theme-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$gssb-theme-warn: mat.define-palette(mat.$red-palette);

/*$gssb-theme: mat-light-theme($gssb-theme-primary, $gssb-theme-accent, $gssb-theme-warn);*/

$gssb-theme: (
  primary: $gssb-theme-primary,
  accent: $gssb-theme-accent,
  warn: $gssb-theme-warn,
  is-dark: false,
  foreground: mat.$light-theme-foreground-palette,
  background: mat.$light-theme-background-palette
);

@include mat.all-component-themes($gssb-theme);
@include datetimepicker.mat-datetimepicker-theme($gssb-theme);

.formly-checkbox .mat-form-field-infix {
  border-top: 0.5em solid transparent;
}

/* Material Icons Font Registration */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons.woff2) format('woff2');
}

.mat-row:hover {
  background: #eee;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mat-mini-fab span.mat-button-wrapper {
  padding: 0;
}

/* Animations */

.pulse {
  animation-name: pulse_animation;
  animation-duration: 500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.0);
  }
}

/* */
.mat-dialog-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Remove shadow and padding from expansion panels in table cells.
.gsl-expansion-table-cell {
  mat-expansion-panel.email-text {
    box-shadow: none;
  }

  .mat-expansion-panel-header {
    padding: 0 8px 0 0;
    font-size: inherit;
  }

  .mat-expansion-panel-body {
    padding: 0 8px 0 0;
  }
}

.gsl-hide {
  display: none;
}
