/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.formly-checkbox .mat-form-field-infix {
  border-top: 0.5em solid transparent;
}

/* Material Icons Font Registration */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Animations */

.pulse {
  animation-name: pulse_animation;
  animation-duration: 500ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% { transform: scale(1.0); }
  50% { transform: scale(0.7); }
  100% { transform: scale(1.0); }
}

/* */
.mat-dialog-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
