a {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
}

td + td, th + th {
  padding-left: .5em;
}

button:first-of-type {
  margin-right: 1em;
}

gsl-item-antolin {
  margin-left: 1em;
}

.mat-column-barcode {
  max-width: 100px;
}

.mat-column-title {
}

.mat-column-category {
  width: 6em;
}

.mat-column-checkout_date {
  width: 10em;
}

.mat-column-date_due {
  width: 6em;
}

.mat-column-fine_due {
  width: 5em;
}

.mat-column-actions {
  text-align: right;
  width: 12em;
}

.overdue {
  background: #fdd;
}
