<td-data-table [data]="rows" [columns]="columns"
    [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="onSort($event)">
  <ng-template tdDataTableTemplate="barcode" let-value="value">
    <a [routerLink]="'/items/' + value">{{value}}</a>
  </ng-template>
  <ng-template tdDataTableTemplate="title" let-value="value" let-row="row">
    <a [routerLink]="'/items/' + row.barcode">{{value}}</a>
  </ng-template>
  <ng-template tdDataTableTemplate="checkout_date" let-value="value">
    {{value | date:shortDate}}
  </ng-template>
  <ng-template tdDataTableTemplate="date_due" let-value="value">
    {{value | date:shortDate}}
  </ng-template>
  <ng-template tdDataTableTemplate="fine_due" let-value="value">
    <span *ngIf="value">{{value | currency}}</span>
  </ng-template>
  <ng-template tdDataTableTemplate="renew" let-row="row">
    <button mat-raised-button color="primary" (click)="onRenew(row)">Renew</button>
  </ng-template>
</td-data-table>
