<div *ngIf="items">
  <table mat-table #table [dataSource]="dataSource"
             matSort matSortActive="checkout_date" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="['/items', row.barcode, 'details']">{{ row.barcode }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="['/items', row.barcode, 'details']">{{ row.title }}</a>
        <gsl-item-antolin [antolin]="row.antolin"></gsl-item-antolin>
      </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let row">{{row.category}}</td>
    </ng-container>
    <ng-container matColumnDef="checkout_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Checked Out</th>
      <td mat-cell *matCellDef="let row">{{row.checkout_date | date:'MMM dd, yyyy, hh:mm'}}</td>
    </ng-container>
    <ng-container matColumnDef="date_due">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Due</th>
      <td mat-cell *matCellDef="let row">{{row.date_due | date}}</td>
    </ng-container>
    <ng-container matColumnDef="fine_due">
      <th mat-header-cell *matHeaderCellDef>Fine Due</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="value">{{row.fine_due | currency}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="onRenew(row)" [disabled]="!row.renewable">Renew</button>
        <button mat-raised-button color="primary" (click)="onReturn(row)">Return</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.overdue]="row.overdue"></tr>
  </table>
</div>
