<mat-card>
  <div class="search-form">
    <div fxFlex="">
      <gsl-multi-field-search-bar
        [criteria]="criteria" [fields]="searchFields" (search)="navigate()">
      </gsl-multi-field-search-bar>
    </div>
    <div>
      <a mat-mini-fab class="add" routerLink="add" *gslAuthorized="'borrowers.create'"
         title="Add new borrower">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </div>
  <div [class.no-search]="count < 0">
    <h2>Found {{count}} matching borrowers</h2>
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource"
                 matSort matSortActive="surname" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="surname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.surname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <gsl-borrower-status [status]="row.state" size="normal"
                                 [routerLink]="[row.borrowernumber, 'checkouts']">
            </gsl-borrower-status>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="emailaddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.emailaddress}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="contactname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Contact Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.contactname}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 style="cursor: pointer"
                 [routerLink]="[row.borrowernumber, 'checkouts']"></mat-row>
      </mat-table>
      <mat-paginator [length]="count" [pageSize]="10">
      </mat-paginator>
    </div>
  </div>
</mat-card>
