<mat-card>
  <div class="containerX">
    <div [fxFlex]="grow">
      <gsl-multi-field-search-bar
         [criteria]="criteria" [fields]="getSearchFields()" (search)="onSearch($event)">
      </gsl-multi-field-search-bar>
    </div>
    <div>
      <a mat-fab class="add" routerLink="add">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </div>
  <div *ngIf="result">
    <td-data-table *ngIf="result"
                   [data]="result.rows"
                   [columns]="columns"
                   [sortable]="true"
                   [sortBy]="sortKey.name"
                   [sortOrder]="sortKey.order"
                   (sortChange)="onSort($event)">
      <ng-template tdDataTableTemplate="surname" let-row="row" let-value="value">
        <a [routerLink]="row.borrowernumber+'/checkouts'">{{value}}</a>
      </ng-template>
      <ng-template tdDataTableTemplate="state" let-row="row" let-value="value">
        <gsl-borrower-status [status]="row.state" size="normal"></gsl-borrower-status>
      </ng-template>
      <ng-template tdDataTableTemplate="firstname" let-row="row" let-value="value">
        <a [routerLink]="row.borrowernumber+'/checkouts'">{{value}}</a>
      </ng-template>
      <ng-template tdDataTableTemplate="emailaddress" let-row="row" let-value="value">
        <a [routerLink]="row.borrowernumber+'/checkouts'">{{value}}</a>
      </ng-template>
      <ng-template tdDataTableTemplate="contactname" let-row="row" let-value="value">
        <a [routerLink]="row.borrowernumber+'/checkouts'">{{value}}</a>
      </ng-template>
    </td-data-table>
    <td-paging-bar #pagingBar (change)="onPage($event)"
                   [initialPage]="page"
                   [pageSize]="pageSize"
                   [total]="result.count">
      <span class="label" td-paging-bar-label hide-xs>Rows per page: </span>
      <span>Borrowers {{pagingBar.range}}</span>
      <span hide-xs> of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>
</mat-card>
