<mat-card>
  <h3>Compute Fees</h3>
  <p>
    The fees are computed as of the given date.  If the due date of a checked
    out item is before this date, the fee will be set to 50ȼ.
  </p>
  <form (ngSubmit)="updateFees()">
    <mat-form-field>
      <input [formControl]="date" matInput [matDatepicker]="picker" placeholder="Date" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <span class="actions">
      <button type="submit" mat-raised-button color="primary">Update Fees</button>
    </span>
  </form>
  <gsl-fees-table></gsl-fees-table>
</mat-card>
