<div class="" ng-controller="loginCtrl as ctrl">
  <div class="panel">
  <form class="form-horizontal" name="loginForm"
        ng-submit="ctrl.authenticate(ctrl.login)">
    <div class="form-group">
      <label for="username" class="control-label col-sm-2">Username</label>
      <div class="col-sm-8">
        <input id="username" name="username" class="form-control"
               ng-model="ctrl.login.username"
               autofocus required placeholder="username" minlength="4"/>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="control-label col-sm-2">Password</label>
      <div class="col-sm-8">
        <input type="password" id="password" name="password" class="form-control"
               ng-model="ctrl.login.password"
               required placeholder="password" minlength="4"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">
          Log In
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
