.missing-cover-image mat-icon {
  font-size: 100px;
  width: 100px;
  color: #eee;
  display: inline-block;
}

div.item-details {
  padding-left: 15px;
  font-size: 85%;
  line-height: 1.7em;
}

div.item-details div.item-info {
  width: 75%;
  columns: 2;
}

.item-status {
  margin-top: 5px;
  font-size: 80%;
  text-align: center;
}
