<mat-card>
  <div class="containerX">
    <div>
      <img [src]="config.apiPath('items/' + item.barcode + '/cover')"
           *ngIf="hasCover"
           style="max-width: 100px; max-height: 150px"
           (error)="noCover()" />
      <div *ngIf="!hasCover" class="missing-cover-image">
        <mat-icon>broken_image</mat-icon>
      </div>
      <div class="item-status">
        <gsl-item-status [status]="item.status" size="normal"></gsl-item-status>
      </div>
    </div>
    <div fxFlex="" class="col3 item-details">
      <mat-card-title>
        {{item.title}}
        <gsl-item-antolin [antolin]="item.antolin"></gsl-item-antolin>
      </mat-card-title>
      <mat-card-subtitle *ngIf="item.author">
        by {{item.author}}
      </mat-card-subtitle>
      <div class="item-info">
        <div><b>Barcode:</b> {{item.barcode}}</div>
        <div *ngIf="item.category"><b>Category:</b> {{item.category}}</div>
        <div *ngIf="item.isbn10"><b>ISBN-10:</b> {{item.isbn10}}</div>
        <div *ngIf="item.isbn13"><b>ISBN-13:</b> {{item.isbn13}}</div>
        <div *ngIf="item.age"><b>Reading Age:</b> {{item.age}}</div>
        <div *ngIf="item.subject"><b>Subject:</b> {{item.subject}}</div>
        <div *ngIf="item.seriestitle"><b>Serie:</b> {{item.seriestitle}}</div>
      </div>
    </div>
  </div>
</mat-card>
