<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <md-input-container>
    <input name="title" [(ngModel)]="criteria.title" mdInput autofocus
           placeholder="Title" autocomplete="off">
  </md-input-container>
  <md-input-container>
    <input name="author" [(ngModel)]="criteria.author" mdInput
           placeholder="Author" autocomplete="off">
  </md-input-container>
  <md-input-container>
    <input name="series" [(ngModel)]="criteria.series" mdInput
           placeholder="Series Title" autocomplete="off">
  </md-input-container>
  <md-input-container>
    <input name="subject" [(ngModel)]="criteria.subject" mdInput
           placeholder="Subject" autocomplete="off">
  </md-input-container>
  <button md-fab><md-icon>search</md-icon></button>
</form>
