<div *ngIf="item">
<p *ngIf="item.history">
  This item has been checked out
  <span class="item-history-length">{{item.history.length}}</span>
  <span [ngPlural]="item.history.length">
    <ng-template ngPluralCase="=1"> time.</ng-template>
    <ng-template ngPluralCase="other"> times.</ng-template>
  </span>
</p>
</div>
<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource"
             matSort matSortActive="title" matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="checkout_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Checkout Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.checkout_date | date:'MMM dd, yyyy, hh:mm'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="returndate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Return Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.returndate | date:'MMM dd, yyyy, hh:mm'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Borrower</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.surname}}, {{row.firstname}}, {{row.contactname}}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             style="cursor: pointer"
             [routerLink]="['/borrowers', row.borrowernumber, 'history']">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="count" [pageSize]="10">
  </mat-paginator>
</div>
