td-paging-bar {
  margin-top: 10px;
}
span {
  vertical-align: middle;
}
span.label {
  margin-right: -15px;
}
/deep/ td-paging-bar div {
  display: inline-block;
  font-size: 13px;
}
/deep/ td-paging-bar .mat-select {
  vertical-align: middle;
}

