<div *ngIf="result">
  <td-data-table [data]="result.rows" [columns]="columns"
                 [sortable]="true"
                 (sortChange)="onSort($event)">
    <ng-template tdDataTableTemplate="type"
                 let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <span flex>{{value}}</span>
      </div>
    </ng-template>
  </td-data-table>
  <td-paging-bar #pagingBar (change)="onPage($event)"
                 [pageSizes]="[10,20,50,100]"
                 [total]="result.count">
    <span class="label" td-paging-bar-label hide-xs>Rows per page: </span>
    <span>Items {{pagingBar.range}}</span>
    <span hide-xs> of {{pagingBar.total}}</span>
  </td-paging-bar>
</div>

