<mat-card *ngIf="borrower">
  <h2 *ngIf="borrower">
    {{borrower.surname}}, {{borrower.firstname}}, {{borrower.contactname}}
    <gsl-borrower-status [status]="borrower.state"></gsl-borrower-status>
  </h2>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [ngClass]="link['class']"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">{{link.label}}</a>
  </nav>
  <router-outlet></router-outlet>
</mat-card>
