<h2>Borrower Page</h2>
<mat-card *ngIf="borrower">
  <h3>
    {{borrower.surname}}, {{borrower.firstname}}, {{borrower.contactname}}
  </h3>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{link.label}}</a>
  </nav>
  <router-outlet></router-outlet>
  <!--
  <mat-tab-group>
    <mat-tab label="Checkouts">
      <gsl-borrower-checkouts class="tab-content" [borrower]="borrower"
                              (borrowerChange)="reloadBorrower()"></gsl-borrower-checkouts>
    </mat-tab>
    <mat-tab label="Fees">
      <gsl-borrower-fees></gsl-borrower-fees>
    </mat-tab>
    <mat-tab label="History">
      <gsl-borrower-history></gsl-borrower-history>
    </mat-tab>
    <mat-tab label="Profile">
      <gsl-borrower-profile></gsl-borrower-profile>
    </mat-tab>
  </mat-tab-group>
  -->
</mat-card>
