<div class="cover">
  <div ng2FileDrop
       [ngClass]="{'file-over': hasDropZoneOver}"
       (fileOver)="fileOver($event)"
       [uploader]="uploader"
       class="cover-drop-zone">

    <img *ngIf="hasCover"
         [src]="coverUrlShown"
         (error)="handleMissingImage()" />

    <div *ngIf="!hasCover" class="missing-cover-image">
      <mat-icon>broken_image</mat-icon>
    </div>
  </div>
  <div [hidden]="!hasCover" class="cover-image-actions" *gslAuthorized="'items.update'">
    <a mat-raised-button color="primary"
       gslConfirmationDialog
       title="Confirm Cover Deletion"
       message="Are you sure you want to delete the cover of the item?"
       (confirm)="deleteCover()">Delete Cover</a>
  </div>
</div>
