<md-toolbar>
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <span>GSSB Library</span>
  <gsl-item-search-bar></gsl-item-search-bar>
  <span class="flex"></span>
  <a href="http://gssb.org/"><img src="/assets/images/gssb_logo_transparent_small.png"></a>
</md-toolbar>
<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <md-nav-list>
      <a md-list-item routerLink="/items">Items</a>
      <a md-list-item routerLink="/borrowers">Borrowers</a>
      <a md-list-item routerLink="/return">Returns</a>
    </md-nav-list>
  </md-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

