<div ng-controller="borrowerCtrl">
  <div ng-hide="data.borrower">
    <div class="form-group">
      <!--
      <label class="control-label col-sm-2">Borrower</label>
      -->
      <div class="">
      <input id="borrower-query" type="text" autofocus class="form-control"
	     ng-model="data.borrowerLabel"
	     placeholder="Type part of the borrower's last name"
	     typeahead="borrowerLabel(borrower) for borrower in getNames($viewValue)"
	     typeahead-input-formatter="formatSelectedBorrower()"
	     typeahead-on-select="showSelectedBorrower($item, $model, $label)">
      </div>
    </div>
  </div>
  <div ng-show="data.borrower">
    <div class="panel">
      <a class="btn btn-success" ng-click="resetBorrower()" accesskey="b">
	Find Next <span class="accesskey">B</span>orrower
      </a>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3>{{borrowerLabel(data.borrower)}}</h3>
      </div>
      <div class="panel-body">
	<div ng-if="data.items">
	  <form class="form-inline" ng-submit="checkOut(data.barcode)">
	    <div class="form-group">
	      <input only-digits maxlength="9" inputmode="numeric" autofocus
		     id="check-out-item-barcode"
		     class="form-control" ng-model="data.barcode" placeholder="barcode"/>
	      <button type="submit" class="btn btn-primary">Check Out</button>
	    </div>
	    <div ng-if="fineDue()" class="form-group gssb-left-gap">
	      <label class="fine">Fine due: {{fineDue() | currency}}</label>
	      <a class="form-control btn btn-primary">Pay Fine</a>
	    </div>
	  </form>
	  <div ng-hide="data.items.length > 0">
	    <h4>No items checked out.<h4>
	  </div>
	  <div ng-show="data.items.length > 0">
	    <h3>{{data.items.length}} Checked Out Items</h3>
	    <table class="table table-striped table-hover table-condensed">
	    <thead>
	      <th>
		<a ng-click="setSortKey('title')" accesskey="t">
		  <span class="accesskey">T</span>itle
		</a>
	      </th>
	      <th>
		<a ng-click="setSortKey('checkout_date')" accesskey="c">
		  <span class="accesskey">C</span>heckout Date
		</a>
	      </th>
	      <th>
		<a ng-click="setSortKey('date_due')" accesskey="u">
		  D<span class="accesskey">u</span>e Date
		</a>
	      </th>
	      <th>
		<a ng-click="setSortKey('fine_due')" accesskey="l">
		  <span class="accesskey">L</span>ate Fee
		</a>
	      </th>
	      <th></th>
	      <th></th>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in data.items | orderBy:sortKey">
		<td>{{item.title}}</td>
		<td>{{item.checkout_date | date:'dd MMM yyyy'}}</td>
		<td>{{item.date_due | date:'dd MMM yyyy'}}</td>
		<td>
		  <span ng-show="item.fine_due >= 0">{{item.fine_due | currency}}</span>
		</td>
		<td>
		  <a class="btn btn-sm btn-success" ng-click="renewItem(item)">Renew</a>
		</td>
		<td>
		  <a class="btn btn-sm btn-warning" ng-click="returnItem(item)">Return</a>
		</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
