a {
  text-decoration: none;
  color: inherit;
}
.container {
  position: relative;
}
.spinner {
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
  top: 50%;
  left: 50%;
}
.mat-column-surname {
  max-width: 150px;
}
.mat-column-fee {
  max-width: 150px;
}

