<mat-card>
  <h2 *ngIf="item">
    Item {{ item.barcode }}: {{ item.title }}
    <gsl-item-antolin [antolin]="item.antolin"></gsl-item-antolin>
    <gsl-item-status [status]="item.status"></gsl-item-status>
  </h2>
  <div *ngIf="item.checkout">
    This item is checked out by
    <a [routerLink]="['/borrowers', item.borrower.borrowernumber, 'checkouts']">
      {{item.borrower.studentNames}}</a>
    since {{item.checkout.checkout_date | date:'MMM d, y, h:mm'}}
  </div>
  <div *ngIf="item.order_item">
    This item is ordered by
    <a [routerLink]="['/borrowers', item.borrower?.borrowernumber, 'checkouts']">
      {{item.borrower?.studentNames}}</a>
  </div>
  <nav mat-tab-nav-bar>
    <ng-container *ngFor="let link of navLinks">
      <a mat-tab-link
         [routerLink]="link.link"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         *gslAuthorized="link.action">{{link.label}}</a>
    </ng-container>
  </nav>
  <div class="tab-body">
    <router-outlet></router-outlet>
  </div>
</mat-card>

