<mat-card>
  <h3 *ngIf="item">
    Item {{ item.barcode }}: {{ item.title }}
  </h3>
  <mat-tab-group>
    <mat-tab label="Details">
      <br />
      <gsl-item-edit-form *ngIf="item" [item]="item"></gsl-item-edit-form>
    </mat-tab>
    <mat-tab label="History">
      <br />
      <gsl-item-history *ngIf="item" [item]="item"></gsl-item-history>
    </mat-tab>
    <mat-tab label="Labels">
      <br />
      <gsl-item-labels *ngIf="item" [item]="item"></gsl-item-labels>
    </mat-tab>
  </mat-tab-group>
</mat-card>

