<mat-card>
  <gsl-multi-field-search-bar
     [criteria]="criteria" [fields]="getSearchFields()" (search)="onSearch($event)">
  </gsl-multi-field-search-bar>

  <div *ngIf="result">
    <gsl-item-card *ngFor="let item of result.rows" [item]="item"></gsl-item-card>

    <td-paging-bar #pagingBar (change)="onPage($event)"
                   [initialPage]="page"
                   [pageSize]="pageSize"
                   [total]="result.count">
      <span class="label" td-paging-bar-label hide-xs>Rows per page: </span>
      <span>Items {{pagingBar.range}}</span>
      <span hide-xs> of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>

</mat-card>
