<div ng-controller="returnCtrl as ctrl" class="content-area">
  <h4>Return Item</h4>  
  <form name="returnForm" class="form-horizontal" novalidate
        ng-submit="ctrl.returnItem(ctrl.barcode)">
    <div class="form-group">
      <label for="returnBarcode" class="control-label col-sm-2">
        Barcode
      </label>
      <div class="col-sm-4 col-md-6">
        <input id="returnBarcode" name="barcode" ng-model="ctrl.barcode"
               required only-digits maxlength="9"
               class="form-control" autofocus placeholder="barcode"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary" required
                ng-disabled="returnForm.$invalid || ctrl.barcode.length != 9">
          Return
        </button>
      </div>
    </div>
  </form>
  <div ng-show="ctrl.data.returnedItems.length">
    <h4>Returned Items</h4>
    <table class="table table-striped table-hover table-condensed"
           ng-show="ctrl.data.returnedItems.length">
      <thead>
        <tr>
          <th>Barcode</th>
          <th>Title</th>
          <th>Borrower Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="returned in ctrl.data.returnedItems.slice().reverse()">
          <td>
            <a ng-href="#/item/{{returned.barcode}}">
              {{returned.barcode}}
            </a>
          </td>
          <td>{{returned.title}}</td>
          <td>
            <a href="#/borrower/{{returned.borrower.borrowernumber}}">
              {{borrowerLabel(returned.borrower)}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
